<plugin>
    <id>classifieds</id>
    <name>Classified Ads</name>
    <description>Classified Ads</description>
    <version>1.0.7</version>
    <glfusionversion>1.4.0</glfusionversion>
    <phpversion>5.3.0</phpversion>
    <dataproxydriver>classifieds.class.php</dataproxydriver>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
    <requires>lglib</requires>
</plugin>
